<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Presenter Overlay</string>
	<key>CFBundleIdentifier</key>
	<string>com.shawnzhu.presenter-overlay</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleExecutable</key>
	<string>PresenterOverlay</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSUIElement</key>
	<true/>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>NSCameraUsageDescription</key>
	<string>Presenter Overlay needs camera access to show your camera feed in a floating circular window.</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
